<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="bppharma">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Central Recargas</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="Portal/css/linearicons.css">
    <link rel="stylesheet" href="Portal/css/owl.carousel.css">
    <link rel="stylesheet" href="Portal/css/font-awesome.min.css">
    <link rel="stylesheet" href="Portal/css/nice-select.css">
    <link rel="stylesheet" href="Portal/css/magnific-popup.css">
    <link rel="stylesheet" href="Portal/css/bootstrap.css">
    <link rel="stylesheet" href="Portal/css/main.css">
</head>
<body class="dup-body">
    <div class="dup-body-wrap">
        <!-- Start Header Area -->
        <header class="default-header">
            <div class="header-wrap">
                <div class="header-top d-flex justify-content-between align-items-center">
                    <div class="logo">
                        <a asp-action="Index"><b>Central Recargas</b></a>
                    </div>
                    <div class="main-menubar d-flex align-items-center">
                        <nav class="hide">
                            <a asp-action="Index">Inicio</a>
                            <a asp-area="Identity" asp-page="/Account/Login">Vende</a>
                            <a asp-action="Contacto">Contacto</a>
                        </nav>
                        <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header Area -->
        @RenderBody()
        <!-- Start Contact Area -->
        <section class="contact-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-address text-center">
                            <h6>Donde estamos</h6>
                            <p>Publico Seneca</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-address text-center">
                            <h6>Teléfono</h6>
                            <p>8187040448</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-address text-center">
                            <h6>Correo</h6>
                            <p>
                                <a href="mailto:demo@gmail.com">hola@centralrecargas.com</a> <br>
                                <a href="mailto:demo@gmail.com">help@centralrecargas.com</a> <br>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-address text-center">
                            <h6>Mensajería</h6>
                            <p>
                                SMS:  <br>
                                <a href="mailto:demo@gmail.com">Whatsapp</a> <br>
                                <a href="mailto:demo@gmail.com">Telegram</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Area -->
        <!-- Strat Footer Area -->
        <footer class="section-gap footer-widget-area">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="text-white text-uppercase mb-20">Central Recargas</h6>
                            <ul class="footer-nav">
                                <li><a asp-action="Privacy">Aviso de privacidad</a></li>
                                <li><a asp-action="Policies">Políticas</a></li>
                                <li><a asp-action="Terms">Términos y Condiciones</a></li>
                                <li><a asp-action="About">Nosotros</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="text-white text-uppercase mb-20">Canales de venta</h6>
                            <ul class="footer-nav">
                                <li><a asp-action="Web">Portal web</a></li>
                                <li><a asp-action="Mobile">Portal móvil</a></li>
                                <li><a asp-action="Courier">Mensajería</a></li>
                                <li><a asp-action="App">App móvil</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="text-white text-uppercase mb-20">Servicios</h6>
                            <ul class="footer-nav">
                                <li><a asp-action="Recargas">Recargas electrónicas</a></li>
                                <li><a asp-action="Servicios">Pago de servicios</a></li>
                                <li><a asp-action="Pines">Códigos y pines electrónicos</a></li>
                                <li><a asp-action="Portal">Portal de venta para tu negocio</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h6 class="text-white text-uppercase mb-20">Algunos servicios</h6>
                            <ul class="instafeed d-flex flex-wrap">
                                <li><img src="~/images/Logos/amigo-sin-limiteNice.png" alt=""></li>
                                <li><img src="~/images/Logos/logo_att.png" alt=""></li>
                                <li><img src="~/images/Logos/logo_movistar.png"></li>
                                <li><img src="~/images/Logos/logo_telcel.png" alt=""></li>
                                <li><img src="~/images/Logos/sky-nice.png" alt=""></li>
                                <li><img src="Portal/img/i6.jpg" alt=""></li>
                                <li><img src="Portal/img/i7.jpg" alt=""></li>
                                <li><img src="Portal/img/i8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                    <p class="footer-text m-0">Copyright &copy; 2019   |   Hecho con <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="https://colorlib.com/">BP Pharma</a></p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                        <a href="#"><i class="fa fa-telegram"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
    </div>
    <script src="Portal/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="Portal/js/vendor/bootstrap.min.js"></script>
    <script src="Portal/js/jquery.ajaxchimp.min.js"></script>
    <script src="Portal/js/owl.carousel.min.js"></script>
    <script src="Portal/js/jquery.nice-select.min.js"></script>
    <script src="Portal/js/jquery.magnific-popup.min.js"></script>
    <script src="Portal/js/main.js"></script>
</body>
</html>
