@{
    Layout = "_Layout.cshtml";
}
<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-7 col-sm-8">
                <div class="banner-content">
                    <h1>Central recargas <br> incrementa tus ventas</h1>
                    <p>Mejora la calidad y cantidad de servicios que puedes ofrecer en tu negocio, al igual que tus ganancias.<br />Y lo mejor, puedes comenzar desde $20.00 MXN y la bolsa de saldo es compartida.</p>
                    <a asp-area="Identity" asp-page="/Account/Register" class="primary-btn">Comienza ya<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4">
                <img src="Portal/img/banner.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start studio Area -->
<section class="section-gap studio-area">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4 col-sm-6 text-center">
                <div class="studio-thumb">
                    <img src="Portal/img/s.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-8 col-sm-6">
                <div class="studio-content">
                    <h2>Aprovecha nuestras herramientas</h2>
                    <p>Aprovecha nuesdtras plataformas de venta y servicios para incrementar las ventas de tu negocio. <br />Accede desde cualquier parte a nuestra plataforma y no te quedes sin vender.</p>
                    <a asp-area="Identity" asp-page="/Account/Register" class="primary-btn">¡Comienza ya!<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End studio Area -->
<!-- Start Achivement Area -->
<section class="section-gap achivement-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="achivement-content">
                    <h2>Tenemos las marcas más comerciales</h2>
                    <p class="mb-30">Tenemos las marcas más comerciales de México, y siempre estamos en innovación integrando nuevos servicios. </p>
                    <a asp-area="Identity" asp-page="/Account/Register" class="primary-btn">Comenzar ya<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="total-achivement">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="single-achivement">
                                <img src="~/images/Logos/logo_telcel.png" class="img-thumbnail" />
                                <h6>Telcel</h6>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-achivement">
                                <img src="~/images/Logos/logo_att.png" class="img-thumbnail" />
                                <h6>AT&T</h6>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-achivement">
                                <img src="~/images/Logos/logo_movistar.png" class="img-thumbnail" />
                                <h6><a href="#">Youtube Subscribe</a></h6>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-achivement">
                                <img src="~/images/Logos/telmex-nice.png" class="img-thumbnail" />
                                <h6>Telmex</h6>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-achivement">
                                <img src="~/images/Logos/sky-nice.png" class="img-thumbnail" />
                                <h6>SKY / VeTV</h6>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="single-achivement">
                                <img src="~/images/Logos/totalplay-nice.png" class="img-thumbnail" />
                                <h6>Totalplay</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Achivement Area -->
<!-- Start Carousel Area -->
<section class="section-gap carousel-area">
    <div class="overlay overlay-bg"></div>
    <div class="active-bottle-carousel">
        <div class="item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-4">
                        <div class="carousel-thumb">
                            <img src="Portal/img/c.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7">
                        <div class="carousel-content">
                            <h2 class="text-white">Accede desde cualquier PC</h2>
                            <h5 class="text-white mb-20">Vende desde cualquier computadora</h5>
                            <p class="text-white mb-30">Puedes acceder a nuestra plataforma desde cualquier computadora, ingresando tus credenciales y sin que pierdas una venta.</p>
                            <a asp-area="Identity" asp-page="/Account/Register" class="primary-btn white">Regístrate ya<span class="lnr lnr-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-4">
                        <div class="carousel-thumb">
                            <img src="Portal/img/c.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7">
                        <div class="carousel-content">
                            <h2 class="text-white">Accede desde cualquier dispositivo móvil</h2>
                            <h5 class="text-white mb-20">No importa si tienes smartphone o no</h5>
                            <p class="text-white mb-30">Puedes realizar recargas y pagos de servicio desde cualquier móvil, vía web, aplicación móvil o por SMS.</p>
                            <a asp-area="Identity" asp-page="/Account/Register" class="primary-btn white">Regístrate ya<span class="lnr lnr-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-4">
                        <div class="carousel-thumb">
                            <img src="Portal/img/c.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7">
                        <div class="carousel-content">
                            <h2 class="text-white">Notificaciones sin ticket impreso</h2>
                            <h5 class="text-white mb-20">Comprometidos con el medio ambiente</h5>
                            <p class="text-white mb-30">Nuestra plataforma está lista para enviar el ticket vía SMS o por correo electrónico sin costo para ti. También podrás descargar o ver el ticket si lo deseas imprimir en versión lista para impresora de tickets.</p>
                            <a asp-area="Identity" asp-page="/Account/Register" class="primary-btn white">View More<span class="lnr lnr-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-4">
                        <div class="carousel-thumb">
                            <img src="Portal/img/c.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7">
                        <div class="carousel-content">
                            <h2 class="text-white">Integra nuestro servicio en tu PdV</h2>
                            <h5 class="text-white mb-20">API de venta de recargas y pago de servicios</h5>
                            <p class="text-white mb-30">Si tienes tu plataforma Punto de Venta, puedes integrar nuestros servicios de una manera fácil para incrementar tus ventas con nosotros.</p>
                            <a asp-area="Identity" asp-page="/Account/Register" class="primary-btn white">View More<span class="lnr lnr-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-4">
                        <div class="carousel-thumb">
                            <img src="Portal/img/c.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-7">
                        <div class="carousel-content">
                            <h2 class="text-white">Puedes usar nuestro PdV o solicitar tu ecommerce</h2>
                            <h5 class="text-white mb-20">Queremos que ganes 24/7</h5>
                            <p class="text-white mb-30">Tenemos un punto de venta con la aplicación ya integrada y que a la vez te ayuda con la administración de tu negocio. También puedes solicitar cotización para tu portal de ecommerce o corporativo con nosotros.</p>
                            <a asp-area="Identity" asp-page="/Account/Register" class="primary-btn white">View More<span class="lnr lnr-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Carousel Area -->