@{
    Layout = "_Layout.cshtml";
}
<section class="section-gap studio-area">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <h3>Aviso de privacidad</h3>
    </div>
</section>